include header

.container

    h1 Hi, #{username}
    h2 Dashboard
    div(style="display: flex; gap: 10px;")
        a.btn.btn-primary(href="/warehouses") Manage warehouses
    if error
        p(style="color: red; font-weight: bold")= error
    div
        table.table.table-striped.table-bordered.mt-4
            tr
                th №
                th username
                th email
                th role
                th createdAt
            each item, index in users
                tr
                    td.bg-purple-50 #{index + 1}
                    td.bg-purple-50= item.username
                    td.bg-purple-50= item.email
                    if item.email !== email
                        td.bg-purple-50
                            form(method="POST" action=`/admin-dashboard/users/${item._id}/update-role`)
                                select.form-select(name="role" onchange="this.form.submit()")
                                    option(value="admin", selected=item.role === 'admin') Admin
                                    option(value="staff", selected=item.role === 'staff') Staff
                                    option(value="manager", selected=item.role === 'manager') Manager
                                    option(value="viewer", selected=item.role === 'viewer') Viewer
                    else
                        td.bg-purple-50= item.role
                    td.bg-purple-50= item.createdAtFormatted