include ../header
.container
    if(role && role === 'admin')
        a(href="/products/new") Add new product
    if error
        p(style="color:red")= error
    h1 Продукти
    table
        thead
            tr
                th Назва
                th SKU
                th К-сть
                th Ціна
                th Категорія
                th Статус
                if(role && role === 'admin' || role === 'manager')
                    th Дії
        tbody
            each p in products
                tr
                    td
                        a(href=`/products/${p._id}`)= p.name
                    td= p.sku
                    td= p.quantity
                    td= p.price.toFixed(2)
                    td= p.category
                    td= p.status
                    if(role && role === 'admin' || role === 'manager')
                        td(style="display:flex; gap: 10px; align-items: center;")
                            a(href=`/products/${p._id}/edit`) Edit
                            a(href=`/inventory/new/${p._id}` class="btn btn-primary") Operation
                            if(role && role === 'admin')
                                form(method="POST", action=`/products/${p._id}/delete`, style="display:inline; margin: 0;")
                                    button(type="submit" style="margin: 0;") Remove
