include ../header

.container
    if product
        h1=  "Product: " + product.name
        div(style="display:flex; flex-direction: column; gap: 20px;")
            if(role && role === 'admin' || role === 'manager')
                a(href=`/inventory/new/${product._id}` class="btn btn-primary") Операція з товаром
            h4= `Name Product: ${product.name}`
            h4= `SKU: ${product.sku}`
            h4= `Low Stock Threshold: ${product.lowStockThreshold}`
            h4= `Price: ${product.price.toFixed(2)}`
            h4= `Category: ${product.category}`
            h4= `Status: ${product.status}`
            div
                h4 Storages:
                hr
                each wp in warehouseProduct
                    h5= `Storage: ${wp.warehouseId.name}`
                    h5= `Quantity: ${wp.quantity}`
                    h5= `Location: ${wp.warehouseId.location}`
                    hr
    else
        h1 Not Found Product
    a.btn.btn-primary(href="/products") <-- Back to products

